---
layout: base
---
<div class="blog-cover" style="background-image:url(/images/{{ site.inc.cover_image }});">
    
    <section>
        <div class="container">
            <h1>{{ site.inc.title }}</h1>
            {% if site.inc.subtitle %}<h3>{{ site.inc.subtitle }}</h3>{% endif %}
        
            {% if site.inc.twitter %}
            <a href="https://twitter.com/{{ site.inc.twitter }}" title="Follow on Twitter" target="_blank"><i class="icon icon-twitter"></i></a>
            {% endif %}
            {% if site.inc.facebook %}
            <a href="http://facebook.com/{{ site.inc.facebook }}" title="Like on Facebook" target="_blank"><i class="icon icon-facebook"></i></a>
            {% endif %}
            <a href="/feed.xml" title="RSS Feed">
                <i class="icon icon-rss"></i>
            </a>
        </div>
    </section>
</div>
<article class='container'>
<section class="index">
    <img src="/images/arthur.jpeg" class="avatar">
    <div>
       
        <p>Hey there, welcome to my internets.</p>
        <p>
        This the personal website of Arthur Debert.<br>
        I seldom, but occasionally do <a href='/trane/'>blog</a>.<br>
        My (terribly) old <a href="/work/"> work list</a>.<br>
        More <a href="/about/">about</a> me.<br>
       
       
    </div>
    <hr>
</section>
</article>